html{
    /*background-color: #7FFFD4;*/
}

.main{
    justify-content: space-between;
    vertical-align: middle;
    
}



#griglia{
   display: flex;
   margin: auto;
   width: 40%;
   border: 1px solid black; 
   flex-wrap: wrap;
}

.quadrato{
    display: flex;
    border: 1px solid black;
    width: calc(100% / 10);
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #7FFFD4;
}

.quadratoDue{
    display: flex;
    border: 1px solid black;
    width: calc(100% / 9);
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #7FFFD4;

}

.quadratoTre{
    display: flex;
    border: 1px solid black;
    width: calc(100% / 7);
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #7FFFD4;

}

.attivazione{
    display: flex;
    background-color: #1d0bc3;
    
}


.quadratobomba{
    background-color: red;
}

